body, html {
  margin: 0;
  height: 100%;
}

body {
  background-color: #fffefd;
  color: #44403c;
  font-family:
    "Merriweather",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Droid Sans",
    "Helvetica Neue",
    serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.0em;
  margin-bottom: 0.5em;
  font-family:
    "Calistoga",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: inherit;
}

h1 {
  text-align: center;
}

pre {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-left: 5px solid #dcdcdc;
  background-color: #f5f5f5 !important;
  padding-left: 1em;
  font-family:
    Monaco,
    "Courier New",
    "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono",
    monospace;
  font-size: 0.8em;
  border-radius: 6px;
}

code {
  font-family:
    Monaco,
    "Courier New",
    "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono",
    monospace;

  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0px 3px;
  display: inline-block;
  color: #52595d;
  background-color: #f9f9f9;
}

.hero-image {
  height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/korone.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 100%;
}

.hero-text h1 {
  margin: 0;
  font-size: 5em;
  text-align: center;
  color: white;
}

.hero-text p {
  margin: 0;
  text-align: center;
  color: white;
}

p {
  line-height: 1.5em;
}

.flex-container {
  display: flex;
  justify-content: center;
  padding-bottom: 400px;
}

.content {
  margin-left: 2em;
  margin-right: 2em;
  flex-basis: 768px;
  flex-shrink: 1;
  flex-grow: 0;
}

h1 {
  margin-top: 1.5em;
  font-size: 2.25em;
  color: #000000;
}
h2 {
  font-size: 1.8em;
  color: #404040;
}
h3 {
  font-size: 1.6em;
  color: #707070;
}
h4 {
  font-size: 1.4em;
  color: #909090;
}
h5 {
  font-size: 1.2em;
  color: #989898;
}
h6 {
  font-size: 1em;
  color: #9c9c9c;
}

.header a {
  text-decoration: none;
  color: inherit;
}

li, ul, ol {
  font-size: medium;
}

ul ul, ul ol, ol ol, ol ul, li {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

ul {
  margin-left: 2em;
  padding-left: 0;
}

ul {
  list-style: none;
}

ul li {
  list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/></svg>');
}

ul ul li {
  list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z"/></svg>');
}

img {
  border: none;
}

dt {
  font-weight: bold;
}

p > a {
  color: white;
  text-decoration: none;
  font-size: 0.7em;
  padding: 3px 6px;
  border-radius: 3px;
  background-color: #1e90ff;
  text-transform: uppercase;
  font-weight: bold;
}

p > a:hover {
  color: #dcdcdc;
  background-color: #484848;
}

li > a {
  color: #1e90ff;
  font-weight: bold;
  text-decoration: none;
}

li > a:hover {
  color: #ff4500;
}

blockquote {
  color: #686868;
  line-height: 1.2em;
  padding-left: 0.8em;
  border-left: 5px solid #dcdcdc;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  font-size: 0.9em;
}

th, td {
  border-bottom: 1px solid #ccc;
  padding: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0;
}

th {
  font-weight: bold;
  text-transform: uppercase;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  width: 100%;
}

del {
  text-decoration: line-through;
  color: #777777;
}

.todo {
  font-weight: bold;
  background-color: #ff4500;
  color: white;
  font-size: 0.8em;
  padding: 3px 6px;
  border-radius: 3px;
}

.justleft {
  text-align: left;
}
.justright {
  text-align: right;
}
.justcenter {
  text-align: center;
}
.center {
  margin-left: auto;
  margin-right: auto;
}

.tag {
  font-family: monospace;
  background-color: #ddf;
  padding: 2px 6px;
  border-radius: 3px;
}

.header a {
  text-decoration: none;
  color: inherit;
}

.rejected {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/></svg>');
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: 1em;
  padding-left: 1.5em;
}
.done0 {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/></svg>');
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: 1em;
  padding-left: 1.5em;
}
.done1 {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-slash-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M11.354 4.646a.5.5 0 0 0-.708 0l-6 6a.5.5 0 0 0 .708.708l6-6a.5.5 0 0 0 0-.708z"/></svg>');
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: 1em;
  padding-left: 1.5em;
}
.done2 {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-slash-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M11.354 4.646a.5.5 0 0 0-.708 0l-6 6a.5.5 0 0 0 .708.708l6-6a.5.5 0 0 0 0-.708z"/></svg>');
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: 1em;
  padding-left: 1.5em;
}
.done3 {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-slash-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M11.354 4.646a.5.5 0 0 0-.708 0l-6 6a.5.5 0 0 0 .708.708l6-6a.5.5 0 0 0 0-.708z"/></svg>');
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: 1em;
  padding-left: 1.5em;
}
.done4 {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/></svg>');
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: 1em;
  padding-left: 1.5em;
}
